// fonts
@font-face {
  font-family: 'GlacialBold';
  src: url('../../font/glacial-indifferencebold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GlacialRegular';
  src: url('../../font/glacial-indifferenceregular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin';
  src: url('../../font/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//@font-face {
//  font-family: 'Cormorant';
//  src: url('src/assets/font/CormorantSC-Regular.ttf') format('truetype');
//}
@font-face {
  font-family: 'Tangerine';
  src: url('../../font/Tangerine-Regular.ttf') format('truetype');
}

// colors
$white: #eaeaea;
$black: #000000;
$blue: #00d1c8;
$darker-blue: #116562;
$orange: #fc9b02;

// fonts
$title: 'Josefin', sans-serif;
$body: 'GlacialRegular', sans-serif;
$text: 'Josefin', sans-serif;
$italic: 'Tangerine', serif;

// shadows
$shadow-inset:
        inset 5px 5px 10px rgba(0, 0, 0, 0.6),
        inset -5px -5px 10px rgba(255, 255, 255, 0.2),
        0 0 10px rgba(0, 0, 0, 0.5);
$box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
