// variables
@use './variables/variables.scss' as *;

.about {
  height: 80vh;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__link {
    text-decoration: none;
    color: $black;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    &:hover {
      transform: scale(1.01);
      color: $orange;
    }
  }
  &__text {
    font-family: $text;
    font-size: 1.5rem;
    color: $black;
  }
}