// variables
@use './variables/variables.scss' as *;

.main {
  margin: 0 2rem;
  &__text {
    font-family: $italic;
    font-size: 3rem;
    color: $black;
    margin: 2rem 0;
    letter-spacing: 0.2rem;
  }
}