// variables
@use '../variables/variables.scss' as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem 0 2rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-family: $body;
    font-size: 1.2rem;
    width: 7rem;
    @media screen and (max-width: 768px) {
      width: 10rem;
    }
    &__link {
      color: $black;
      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
    .active {
      color: $blue;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__title {
      color: $black;
      letter-spacing: 0.4rem;
      &__name {
        //letter-spacing: 1rem;
        font-size: 3rem;
      }
    }
    &__logo {
      width: 2rem;
      height: auto;
    }
  }
}